{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
	<h3>Login</h3>
	{{ error }}
	<div id="register-form">
		<form action="/register/" method="post" accept-charset="utf-8">
			<label for="username">Username</label>
			<input type="text" name="username" value="" id="username" />
			<label for="password">Password</label>
			<input type="password" name="password" value="" id="password" />
			<p><input type="submit" value="Register →"></p>
		</form>
	</div>
	<div id="login-form">
		<form action="/login/" method="post" accept-charset="utf-8">
			<label for="username">Username</label>
			<input type="text" name="username" value="" id="username" />
			<label for="password">Password</label>
			<input type="password" name="password" value="" id="password" />
			<p><input type="submit" value="Login →"></p>
		</form>
	</div>
{%  endblock %}
